---
import Warpspeed from '../components/warpspeed.astro';
import Website from '../layouts/website.astro';
import { IconArrowDownRight, IconArrowRight, IconBrandFirebase, IconBrandSupabase, IconCircleDotted, IconCircleSquare, IconDeviceDesktop, IconDeviceTablet, IconEdit, IconLink, IconPencil, IconPointer, IconServer, IconWorld } from '@tabler/icons-preact';

const links = [
	{
		link: "https://github.com/marcusfelix/hausmeister",
		image: "/assets/hausmeister-1.jpeg"
	},
	{
		link: "https://github.com/marcusfelix/caster",
		image: "/assets/caster-1.jpeg"
	},
	{
		link: "https://github.com/marcusfelix/oscorp",
		image: "/assets/oscorp-1.jpg"
	},
	{
		link: "https://github.com/marcusfelix/caster",
		image: "/assets/caster-2.jpeg"
	},
	{
		link: "https://github.com/marcusfelix/oscorp",
		image: "/assets/oscorp-2.jpg"
	},
	{
		link: "https://github.com/marcusfelix/caster",
		image: "/assets/caster-3.jpeg"
	},
	{
		link: "https://github.com/marcusfelix/hausmeister",
		image: "/assets/hausmeister-2.jpeg"
	}
]
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" is:inline></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" is:inline></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js" is:inline></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/TextPlugin.min.js" is:inline></script>
<script>
	gsap.registerPlugin(ScrollTrigger);
	gsap.registerPlugin(ScrollToPlugin);
	gsap.registerPlugin(TextPlugin);
	gsap.to('.row', {
		scrollTrigger: {
			trigger: '.no-scroll',
			start: 'center bottom',
			scrub: 0.3,
		},
		x: -600,
	});
	gsap.to(".fadein", {
		duration: 0.3,
		opacity: 1,
		delay: 1
	});
	gsap.to("#heading", {
		duration: 1,
		text: "Unlimited design & development partner — one task at a time",
		ease: "none"
	});
	gsap.to(".fadein", {
		duration: 0.3,
		opacity: 1,
		delay: 1
	});
</script>
<Website title="Deploid Studio">
	<div class="absolute top-0 left-0 right-0 h-[800px] warp">
		<div class="absolute w-full h-3/4 bottom-0 bg-gradient-to-b from-transparent to-black"></div>
		<Warpspeed/>
	</div>
	<main class="relative container mx-auto px-4">
		<!-- <Heading client:load/> -->
		<div class="flex flex-col items-start max-w-5xl py-10 md:py-28 gap-10">
			<h1 class="text-6xl md:text-8xl font-semibold tracking-tight" id="heading"></h1>
			<p class="text-2xl text-zinc-500 max-w-2xl fadein opacity-0 leading-relaxed">Best time to value for your digital product development with unlimited services from design to code.</p>
			<div class="flex flex-col md:flex-row items-center gap-6 fadein opacity-0">
				<a href="https://deploidstudio.slack.com/team/U05V9NC2RJR" target="_blank" class="bg-blue-700 text-blue-100 text-xl px-5 py-3 rounded-lg">Let's talk — <span class="opacity-50">Slack</span></a>
				<div class="flex items-center justify-center gap-2 text-lg">
					<span class="flex items-center justify-center relative aspect-square h-12 w-12">
						<span class="slow-spin absolute text-zinc-500"><IconCircleDotted size={48} /></span>
						<span class="pt-[1px] font-bold">5</span>
					</span>
					Spots available
				</div>
			</div>
		</div>
	</main>
	<div class="container mx-auto">
		<nav class="p-4" id="starter">
			<a class="flex items-center gap-4 text-2xl"><IconArrowDownRight size={30}/> Starter kits</a>
		</nav>
	</div>
	<div class="overflow-y-auto snap-x md:snap-none no-scroll">
    <div class="flex gap-8 mx-8 h-[560px] md:h-[760px] pb-4 row fadein opacity-0">
			{links.map((link) => <a href={link.link} target="_blank" class="block relative shrink-0 rounded-3xl snap-center h-full overflow-hidden aspect-[9/19.5]">
				<div class="bg-white/80 flex items-center justify-center absolute top-0 right-0 bottom-0 left-0 opacity-0 hover:opacity-100 transition-opacity">
					<span class="w-12 h-12 rounded-full bg-black flex items-center justify-center">
						<IconLink/>
					</span>
				</div>
				<img class=" bg-zinc-800 object-cover" src={link.image}/>
			</a>)}
    </div>
  </div>
	<div class="h-20"></div>
	<section class="container mx-auto px-4 flex flex-col gap-10 xl:flex-row items-start">
		<div class="flex flex-1">
			<h3 class="text-4xl leading-snug md:text-6xl md:leading-tight">Materialize your digital product with an on-demand design & development service without strings attached — as long you have a active subscription you have full access to our service and support.</h3>
		</div>
		<div class="flex-1 grid grid-cols-2 gap-10 py-3 max-w-lg">
			<div class="flex flex-col gap-4">
				<big class="text-6xl">10+</big>
				<p class="text-xl text-zinc-500">Projects delivered the last 6y</p>
			</div>
			<div class="flex flex-col gap-4">
				<big class="text-6xl">35m</big>
				<p class="text-xl text-zinc-500">Average time to deliver revision tasks</p>
			</div>
			<div class="flex flex-col gap-4">
				<big class="text-6xl">90d</big>
				<p class="text-xl text-zinc-500">To design and code a simple mobile app</p>
			</div>
			<div class="flex flex-col gap-4">
				<big class="text-6xl">30d</big>
				<p class="text-xl text-zinc-500">To design and code a simple website</p>
			</div>
		</div>
	</section>
	<div class="h-20"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col gap-8">
			<nav id="pricing">
				<a class="flex items-center gap-4 text-2xl"><IconArrowDownRight size={30}/> Pricing</a>
			</nav>
			<div class="w-full grid grid-cols-1 xl:grid-cols-3 gap-4">
        <div class="p-6 flex flex-col gap-4 border-2 border-zinc-800 rounded-2xl">
					<div class="flex items-center text-xl gap-4">
						<h3 class="font-semibold text-2xl">Design</h3>
						<span class="bg-purple-600/40 text-purple-200 text-[18px] px-3 py-1 rounded-lg">$249 per week</span>
					</div>
					<p class="text-lg opacity-70">Elaborate your idea with hi-fidelity mockups and feedback loops before committing to code</p>	
					<div class="flex-1"></div>
					<div class="flex justify-between">
						<span class="py-2 flex items-center gap-2 text-md text-zinc-500">3 days to try</span>
						<span></span>
						<a href={import.meta.env.DESIGN_PRODUCT_URL} target="_blank" class="px-4 py-2 rounded-lg flex items-center gap-2 text-lg bg-blue-700 text-blue-100">Subscribe <IconArrowRight/></a>
					</div>
				</div>
				<div class="p-6 flex flex-col gap-4 border-2 border-zinc-800 rounded-2xl">
					<div class="flex items-center text-xl gap-4">
						<h3 class="font-semibold text-2xl">Code</h3>
						<span class="bg-cyan-600/40 text-cyan-200 text-[18px] px-3 py-1 rounded-lg">$749 per week</span>
					</div>
					<p class="text-lg opacity-70">Full development service to materialize your vision with production code and unlimited incremental changes</p>	
					<div class="flex-1"></div>
					<div class="flex justify-between">
            <span></span>
						<a href={import.meta.env.CODE_PRODUCT_URL} target="_blank" class="px-4 py-2 rounded-lg flex items-center gap-2 text-lg bg-blue-700 text-blue-100">Subscribe <IconArrowRight/></a>
					</div>
				</div>
				<div class="p-6 flex flex-col gap-4 border-2 border-zinc-800 rounded-2xl">
					<div class="flex items-center text-xl gap-4">
						<h3 class="font-semibold text-2xl">Enterprise</h3>
					</div>
					<p class="text-lg opacity-70">For custom arrangements and one-of-a-kind projects, let's talk about it</p>	
					<div class="flex-1"></div>
					<div class="flex justify-between">
            <span></span>
						<a href={import.meta.env.SLACK_INVITE_LINK} target="_blank" class="px-4 py-2 rounded-lg flex items-center gap-2 text-lg bg-blue-700 text-blue-100">Let's talk <IconArrowRight/></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="h-20"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col gap-8">
			<nav id="services">
				<a class="flex items-center gap-4 text-2xl"><IconArrowDownRight size={30}/> Services</a>
			</nav>
			<div class="w-full grid grid-cols-1 md:grid-cols-4 gap-x-4 gap-y-6">
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconEdit/></span> Branding</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconCircleSquare/></span> Icons</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconDeviceTablet/></span> Mockups</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconPencil/></span> Illustrations</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconWorld/></span> Landing pages</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconDeviceTablet/></span> Mobile apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconPointer/></span> Web apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconDeviceDesktop/></span> Desktop apps</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconBrandFirebase/></span> Firebase</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconBrandSupabase/></span> Supabase</div>
				<div class="px-1 flex gap-4 items-center text-lg"><span class="text-zinc-500"><IconServer/></span> Custom backend</div>
			</div>
		</div>
	</section>
	<div class="h-20"></div>
	<section class="container mx-auto px-4">
		<div class="flex flex-col gap-12">
			<nav class="">
				<a class="flex items-center gap-4 text-2xl"><IconArrowDownRight size={30}/> FAQ</a>
			</nav>
			<div class="w-full flex flex-col gap-6">
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">1</span>
						Is there a request limit?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>Absolutely not! You can send as many requests you want, so they will be processed one at a time.</p>
					</div>
				</details>
				<hr class="border-zinc-700"/>
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">2</span>
						How fast will my requests will be delivered?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>For simple designs or small code changes, you will receive a draft within 1-3 working days. More complex tasks will be splited in smaller ones so we can keep fast feedback loop times.</p>
					</div>
				</details>
				<hr class="border-zinc-700"/>
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">3</span>
						What if i don't have more requests?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>You can simply pause your weekly subscription until you have more work to be done.</p>
					</div>
				</details>
				<hr class="border-zinc-700"/>
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">4</span>
						What if I don't like the results?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>Don't worry, we'll continue with the feedback loop until you are 100% satisfied.</p>
					</div>
				</details>
				<hr class="border-zinc-700"/>
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">5</span>
						Where can i submit my requests?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>You will have a private Slack channel where you can send requests and comunicate with our team. You can <a href={import.meta.env.SLACK_INVITE_LINK} class="text-blue-700">create your workspace</a> right now for free. Fell free to invite team mates to participate.</p>
					</div>
				</details>
				<hr class="border-zinc-700"/>
				<details>
					<summary class="flex items-center gap-4 list-none text-2xl  cursor-pointer">
						<span class="w-7 h-7 bg-zinc-700 text-white text-sm font-bold rounded-full flex items-center justify-center shrink-0">6</span>
						Why weekly subscriptions?
					</summary>
					<div class="py-4 text-lg pl-11 text-zinc-500">
						<p>A week is the perfect time frame to plan, execute and test a complete feature. Keep delivering code is important to maintain your product evolving while serving users at the same time. With all that in mind, we offer weekly subscriptions as a complete unit of compreensive work to reduce risks and delivery value to our customers one week at time.</p>
					</div>
				</details>
			</div>
		</div>
	</section> 
</Website>